<div id="hero">
    <div class="container">
        <div class="row">
            <div class="six columns">
                <div class="contenido-hero">
                    <h2>Learn something new</h2>
                    <p>All courses at $ 15</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="barra">
    <div class="container">
        <div class="row">
            <div class="four columns icono icono1">
                <p>Online Courses <br>
                    Explore the latest topics</p>
            </div>
            <div class="four columns icono icono2">
                <p>Expert Instructors <br>
                    Learn with different styles</p>
            </div>
            <div class="four columns icono icono3">
                <p>Lifetime access <br>
                    Learn at your own pace</p>
            </div>
        </div>
    </div>

</div>

<div id="lista-cursos" class="container">
    <h1 id="encabezado" class="encabezado">Online Courses</h1>
    <div class="row">
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso1.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>HTML5, CSS3, JavaScript para Principiantes</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">Add to
                        cart</a>
                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso2.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Curso de Comida Vegetariana</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="2">
                        Add to cart</a>
                </div>
            </div>
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso3.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Guitarra para Principiantes</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="3">
                        Add to cart</a>
                </div>
            </div>
            <!--.card-->
        </div>

    </div>
    <!--.row-->
    <div class="row">
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso4.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Huerto en tu casa</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="4">
                        Add to cart</a>
                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso5.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Decoración con productos de tu hogar</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="5">
                        Add to cart</a>
                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso1.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Diseño Web para Principiantes</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="6">
                        Add to cart</a>
                </div>
            </div>
            <!--.card-->
        </div>
    </div>
    <!--.row-->
    <div class="row">
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso2.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Comida Mexicana para principiantes</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="7">
                        Add to cart</a>
                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso3.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Estudio Musical en tu casa</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="8">
                        Add to cart</a>
                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso4.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Cosecha tus propias frutas y verduras</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="9">
                        Add to cart</a>
                </div>
            </div>
            <!--.card-->
        </div>
    </div>
    <!--.row-->
    <div class="row">
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso5.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Prepara galletas caseras</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="10">
                        Add to cart</a>
                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso1.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>JavaScript Moderno con ES6</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="11">
                        Add to cart</a>
                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso2.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>100 Recetas de Comida Natural</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="12">
                        Add to cart</a>
                </div>
            </div>
            <!--.card-->
        </div>
    </div>
    <!--.row-->
</div>
