<div class="container">
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#offices">Our Offices</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#myCourses">My Courses</a>
        </li>
       
        <li class="nav-item">
            <button type="button" class="btn btn-link" data-toggle="tab" [routerLink] = "['/user']">Log Out

            </button>

        </li>


    </ul>
</div>
        
    
<!-- Tab panes -->
<div class="tab-content">
<div id="home" class="container tab-pane active"><br>

<div id="hero">
    <div class="container">
        <div class="row">
            <div class="six columns">
                <div class="contenido-hero">
                    <h2>Learn something new</h2>
                    <p>All courses at $ 15</p>
                    <form action="#" id="busqueda" method="post" class="formulario">
                        <input class="u-full-width" type="text" placeholder="What would you like to learn?"
                            id="buscador">
                        <input type="submit" id="submit-buscador" class="submit-buscador">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="barra">
    <div class="container">
        <div class="row">
            <div class="four columns icono icono1">
                <p>Online Courses <br>
                    Explore the latest topics</p>
            </div>
            <div class="four columns icono icono2">
                <p>Expert Instructors <br>
                    Learn with different styles</p>
            </div>
            <div class="four columns icono icono3">
                <p>Lifetime access <br>
                    Learn at your own pace</p>
            </div>
        </div>
    </div>

</div>

<div id="lista-cursos" class="container">
    <h1 id="encabezado" class="encabezado">Online Courses</h1>
    <div class="row">
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso1.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>HTML5, CSS3, JavaScript para Principiantes</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="0">
                        Add to cart</a>
                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso2.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Curso de Comida Vegetariana</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">
                        Add to cart</a>

                </div>
            </div>
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso3.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Guitarra para Principiantes</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="2">
                        Add to cart</a>

                </div>
            </div>
            <!--.card-->
        </div>

    </div>
    <!--.row-->
    <div class="row">
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso4.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Huerto en tu casa</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="3">
                        Add to cart</a>

                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso5.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Decoración con productos de tu hogar</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="4">
                        Add to cart</a>

                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso1.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Diseño Web para Principiantes</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="5">
                        Add to cart</a>

                </div>
            </div>
            <!--.card-->
        </div>
    </div>
    <!--.row-->
    <div class="row">
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso2.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Comida Mexicana para principiantes</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="7">
                        Add to cart</a>

                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso3.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Estudio Musical en tu casa</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="8">
                        Add to cart</a>

                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso4.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Cosecha tus propias frutas y verduras</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="9">
                        Add to cart</a>

                </div>
            </div>
            <!--.card-->
        </div>
    </div>
    <!--.row-->
    <div class="row">
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso5.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Prepara galletas caseras</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="10">
                        Add to cart</a>

                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso1.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>JavaScript Moderno con ES6</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="11">
                        Add to cart</a>

                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../assets/images/curso2.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>100 Recetas de Comida Natural</h4>
                    <p>Juan Pedro</p>
                    <img src="../assets/images/estrellas.png">
                    <p class="precio">$200 <span class="u-pull-right ">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="12">
                        Add to cart</a>

                </div>
            </div>
            <!--.card-->
        </div>
    </div>
    <!--.row-->
</div>

</div>

<div id="offices" class="container tab-pane fade"><br>
<h3>Our Offices</h3>
<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3205.507752080463!2d-102.15997794582303!3d21.838548254242525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429f47ec9d93fb9%3A0x38cd71b81ada3c58!2sUniversidad%20Tecnol%C3%B3gica%20El%20Reto%C3%B1o!5e0!3m2!1ses-419!2smx!4v1586026947200!5m2!1ses-419!2smx"
    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
    tabindex="0">
</iframe>
</div>

<div id="myCourses" class="container tab-pane fade"><br>
    <h3>My Courses</h3>

    <div class="container mt-3">
       
        
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Course-id</th>
              <th>Course title</th>
              <th>Course-duration</th>
            </tr>
          </thead>
          <tbody id="myTable">
            <tr>
              <td>1</td>
              <td>JavaScript</td>
              <td>120hrs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>PHP</td>
              <td>120hrs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Ajax</td>
              <td>120hrs</td>
            </tr>
            
          </tbody>
        </table>
        
        
      </div>
      
      <script>
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      </script>




</div>



</div>

