<div class="container">
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" [routerLink] = "['/user']">Log out</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#addCourseModale">Add
                Course</button>
            <!-- The Modal -->
            <div class="modal" id="addCourseModale">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">New Course</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            <form action="#" class="needs-validation" novalidate>
                                <label for="title">Course Title:</label>
                                <input type="text" class="form-control " id="course_title" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                                <label for="price">Course Price:</label>
                                <input type="number" class="form-control" id="course_price" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                                <label for="img">Course Image:</label>
                                <input type="file" class="form-control" id="course_img" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </form>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Course-id</th>
                            <th>Course-name</th>
                            <th>Course-price</th>
                            <th>Course-img</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <!--<i class="fas fa-check-circle" style="color: green;"></i>-->
                        <tr>
                            <td>1</td>
                            <td>JavaScript</td>
                            <td>$120</td>
                            <td><img src="img/course1.png"></td>
                            <td> <button type="button" class="btn btn-link" data-toggle="modal"
                                    data-target="#EditCourseModale">Edit Course
                                </button></td>
                            <td><button><i class="fas fa-ban" style="color: red;"></i></button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>JavaScript</td>
                            <td>$120</td>
                            <td><img src="img/course1.png"></td>
                            <td> <button type="button" class="btn btn-link" data-toggle="modal"
                                    data-target="#EditCourseModale">Edit Course
                                </button></td>
                            <td><button><i class="fas fa-ban" style="color: red;"></i></button></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>PHP</td>
                            <td>$120</td>
                            <td><img src="img/course1.png"></td>
                            <td> <button type="button" class="btn btn-link" data-toggle="modal"
                                    data-target="#EditCourseModale">Edit Course
                                </button></td>
                            <td><button><i class="fas fa-ban" style="color: red;"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>